<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532432716246-aujs9v9ol30ppc4kdkp6dbr231fifku3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532432716246-aujs9v9ol30ppc4kdkp6dbr231fifku3</string>
	<key>API_KEY</key>
	<string>AIzaSyBDv_YMQOLKYCdUWqW_4IdY8DiiBlE_IWk</string>
	<key>GCM_SENDER_ID</key>
	<string>532432716246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clinicApp</string>
	<key>PROJECT_ID</key>
	<string>clinic-app-296621</string>
	<key>STORAGE_BUCKET</key>
	<string>clinic-app-296621.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532432716246:ios:d5557cb5020ca104bda477</string>
	<key>DATABASE_URL</key>
	<string>https://clinic-app-296621.firebaseio.com</string>
</dict>
</plist>